<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Iniciar Sesion</h1>

    <form action="/login">
        <label for="">Email</label>
        <input type="email" name="correo" placeholder="Ingrese su correo">
        <label for="">Password</label>
        <input type="password" name="password" placeholder="Ingrese su contraseña">

        <button>log in</button>

        <p>Aun no tienes cuenta ? Registrate aqui gratis </p>

        <p>
            //En este espacio van los iconos  de:  Google, facebook, instagram y twitter
        </p>

    </form>
</body>
</html>